<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <style></style>
</head>
<body>
    <div class = "check">
        <h1>Аутентификация</h1>
        <h3>Добро пожаловать на DnDCreator!</h3>
        <form method="POST">
            <label>Имя</label><br>
            <input name="name" class="field"/><br><br>
            <label>Пароль</label><br>
            <input name="password" class="field"/><br><br>
            <input type="submit" value="Отправить" />
        </form>
        <a href="/">К списку пользователей</a>
     </div>
</body>
<html>