<!DOCTYPE html>
<html>
<head>
    <title>Добавление пользователя</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class = "check">
    <h1>Добавление персонажа</h1>
     <form method="POST">
        <label>Имя</label><br>
        <input name="name" class="field" autocomplete="off"/><br><br>
        <label>Класс</label><br>
        <input name="class" class="field" autocomplete="off"/><br><br>
        <label>Раса</label><br>
        <input name="race" class="field" autocomplete="off"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/characters">К списку пользователей</a>
    </div>
</body>
<html>